<header class="section-header auth-header shadow-sm">
    <div class="container">
      <div class="row justify-content-center  ">
        <div class="col-xs-12  d-flex flex-wrap align-content-center " id="header">
            <div  class="header-left d-flex align-items-center"><a  class="navbar-brand" href="/">INHABITR <em _ngcontent-tpd-c1="">Live Flexibly</em></a></div>
        </div>
      </div>
    </div>
</header>

<section >
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 p-3 bg-white rounded recover-pwd">
                <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
                    <div class="container">
                        <div class="row justify-content-center resetPwdForm">
                            <div class="col-12" >
            
                                <div class="row">
                                    <div class="col text-center">
                                        <h4 class="login-title my-4">Reset new password</h4> </div>
                                </div>
                                
                                <div class="row align-items-center " >
                                    <div class="col " style="height:60px">
                                        <input type="email" disabled class="form-control" placeholder="Enter your email*"  formControlName="email" [pattern]="emailPattern">
                                        <div class="text-danger" *ngIf="resetPwdForm.controls['email'].invalid  && isSubmitted">
            
                                            <div *ngIf="resetPwdForm.controls['email'].errors.required">
                                                Enter email
                                            </div>
                                            <div *ngIf="resetPwdForm.controls['email'].errors.pattern">
                                                invalid email
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row align-items-center"  >
                                    <div class="col " style="height:60px">
                                        <input type="password" class="form-control" placeholder="Password*" formControlName="password">
                                        <div class="text-danger" *ngIf="resetPwdForm.controls['password'].invalid  && isSubmitted">
                                            <div *ngIf="resetPwdForm.controls['password'].errors.required">
                                                Enter password
                                            </div>
                                            <div *ngIf="resetPwdForm.controls['password'].errors.minlength">
                                                password must be minimum 6 character length
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row justify-content-center " >
                                    <div class="col " style="height:60px" >
                                        <input type="password" class="form-control" placeholder="Confirm Password*" formControlName="confirm_password">
                                        <div class="text-danger" *ngIf="resetPwdForm.controls['confirm_password'].invalid && isSubmitted">
                                            <div *ngIf="resetPwdForm.controls['confirm_password'].errors.required">
                                                Confirm password required
                                            </div>
                                            <div class="text-danger" *ngIf="resetPwdForm.get('confirm_password').errors && 
                                            resetPwdForm.get('confirm_password').errors.confirm_password && isSubmitted || resetPwdForm.get('confirm_password').errors && 
                              resetPwdForm.get('confirm_password').errors.confirm_password && (resetPwdForm.controls['confirm_password'].dirty && isSubmitted || resetPwdForm.controls['confirm_password'].touched)">
                                                 Password does not match
                                            </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="row justify-content-center " >
                                    <button type="submit" class="btn btn-dark mb-4" > Reset password  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

