<div class="container mt-5">
    <div id="accordion" class="container-fluid py-4">

        <div class="card mb-2 shadow">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              Company Information
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <form>
                    <div class="col-md-12">
                        <div class="col-md-6 pull-left pl-0">
                            <div class="form-group">
                                <!-- <label for="fname">First Name</label> -->
                                <input type="text" class="form-control" id="fname" aria-describedby="fname" placeholder="First Name" autofocus>
                                <!-- <small id="fname" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                        </div>
                        <div class="col-md-6 pull-right pl-0">
                            <div class="form-group">
                                <!-- <label for="lname">Last Name</label> -->
                                <input type="text" class="form-control" id="lname" aria-describedby="lname" placeholder="Last Name">
                                <!-- <small id="phone" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 pull-left pl-0">
                            <div class="form-group">
                                <!-- <label for="exampleInputEmail1">Email address</label> -->
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                        </div>
                        <div class="col-md-6 pull-right pl-0">
                            <div class="form-group">
                                <!-- <label for="phone">Phone number</label> -->
                                <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter Phone">
                                <!-- <small id="phone" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
          </div>
        </div>
      
        <div class="card mb-2 shadow">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              Change Password
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
        <div class="card mb-2 shadow">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              Add or Update Card
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      
      </div>
</div>
