<header class="section-header auth-header shadow-sm">
    <div class="container">
      <div class="row justify-content-center  ">
        <div class="col-xs-12  d-flex flex-wrap align-content-center " id="header">
            <div  class="header-left d-flex align-items-center"><a  class="navbar-brand" href="/">INHABITR <em _ngcontent-tpd-c1="">Live Flexibly</em></a></div>
        </div>
      </div>
    </div>
</header>
<section *ngIf='!clicked'>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row justify-content-center signupform">
                <div class="col-12" >

                    <div class="row">
                        <div class="col text-center">
                            <h4 class="login-title my-4">Forgot Password?</h4> </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h6 class=" my-4">Type your Email Id and get link to reset password.</h6> </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col " style="height:60px">
                            <input type="email" class="form-control" placeholder="Email*" formControlName="email" [pattern]="emailPattern">
                            <div class="text-danger" *ngIf="forgotForm.controls['email'].invalid  && isSubmitted">

                                <div *ngIf="forgotForm.controls['email'].errors.required">
                                   Please enter email
                                </div>
                                <div *ngIf="forgotForm.controls['email'].errors.pattern">
                                    Invalid email
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark btn-block "[ngClass]="{'event-none':clicked ? true : false }">Reset my password</button>
                            </div>
                         </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    
    </form>
</section>

<section *ngIf='clicked'>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 p-3 bg-white rounded recover-pwd">
                <h4 class="login-title  text-center">Recover Password</h4> 
                <p>An email has been sent to <b>{{fgEmail}}</b>. Please check your mail.</p>
            </div>
        </div>
    </div>
</section>

