<div  id="content" class="container mt-5 p-5 pt-5">
    <div class="pt-5 row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                        <div class="brebutton" style="margin:10px;text-align:center;display:block;margin-top:30px;">
                                <a id="Inhabitrbookmark" [attr.href]="bookmarkletURL"  class="bookmarkbtn">INHABITR BOOKMARK</a>

                                <div class="brewit-tooltip"><b>Drag and Drop in Browser Bookmarks bar</b></div>
                                <!-- <div class="row">
                                    <div class="col" align="center">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/CsTLnN0YkMc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
                                </div>
                                </div> -->
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>